@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .border-gradient {
    position: relative;
    padding: 4px; /* Space for border */
    border-radius: 8px; /* Adjust the border-radius as needed */
    background-clip: padding-box;
    z-index: 0;
  }

  .border-gradient::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 8px; /* Adjust the border-radius as needed */
    padding: 2px; /* Border width */
    background: linear-gradient(to right, #18C5E1, #8666EF, #FB01FF);
    z-index: -1;
    mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    mask-composite: exclude;
    -webkit-mask-composite: xor;
  }
}
body {
  background-color: #1e1e1e;
  overflow-x: hidden;
}


.slick-slider .slick-arrow {
  display: none !important;
}
.slick-dots {
  width: auto !important;
}

.slick-dots ul li div {
  border: 4px solid rgba(255, 255, 255, 0.67) !important;
  border-radius: 10px;
}
.slick-dots ul li {
  width: 111px !important;
  height: 111px !important;
}
.slick-dots .slick-active div {
  scale: 1.2;
  transform: translateY(-20px);
  transition: all 0.3s ease-in-out;
}
@media (min-width: 320px) and (max-width: 640px) {
  .container {
    max-width: 327px !important;
  }
}

@media (max-width: 768px) {
  .slick-dots {
    position: absolute !important;
    bottom: -25% !important;
  }
  .slick-dots ul {
    gap: 15px !important;
  }
  .slick-dots ul li div {
    border: 2px solid rgba(255, 255, 255, 0.67) !important;
    border-radius: 5px;
  }
  .slick-dots ul li {
    width: 62px !important;
    height: 62px !important;
  }
}

@media (min-width: 768px) {
  .slick-dots {
    position: absolute !important;
    bottom: 5%;
  }
}
